[submodule "vendor/elm-format"]
	path = vendor/elm-format
	url = https://github.com/lamdera/elm-format.git
	ignore = untracked
[submodule "extra/package-replacements/elm/virtual-dom"]
	path = extra/package-replacements/elm/virtual-dom
	url = https://github.com/lamdera/elm-virtual-dom.git
	branch = lamdera
[submodule "extra/package-replacements/elm/browser"]
	path = extra/package-replacements/elm/browser
	url = https://github.com/lamdera/elm-browser.git
	branch = lamdera
[submodule "extra/package-replacements/elm/html"]
	path = extra/package-replacements/elm/html
	url = https://github.com/lamdera/elm-html.git
	branch = lamdera
[submodule "extra/package-replacements/elm/core"]
	path = extra/package-replacements/elm/core
	url = https://github.com/lamdera/elm-core.git
	branch = lamdera
